@media screen and (max-width: 711px){
	body .hero-item{
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 75px;
    }
	.player-guide .col-6{
		width: auto ;
    	margin-bottom: 20px;
	}
	.player-guide .card{
		width: auto;
    	margin-right: 10px;
    	margin-left: 10px;
	}
    footer div {
        display: block;
    }
    footer .logos{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        }
        footer .social{
            text-align: center;
        }
        footer .rating{
            justify-content: center;
        }
        footer .rating img{
            text-align: center;
            display: ;
        }
        footer .social i{
            margin-top: 2rem;
            text-align: center;
        }
        footer .rating img{
            margin: 0 1rem 1rem 1rem;
        }
}
@media screen and (max-width: 950px){
    body .hero-item{
    justify-content: center;
    }
}
@media screen and (max-width: 1260px){
    body .hero-item{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
    }
}